.App {
    margin: auto;
    flex-grow: 1;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

.kwee {
    position: relative;
    display: inline;
    object-position: 50% 50%;
    margin-right: -50px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: none;
}

.CoolRadio {
    min-width: auto;
    margin: 10px;
    align-self: center;
    text-align: center;
    flex: 1;
    cursor: pointer;
    font: inherit;
    border-radius: 12px;
    background: linear-gradient(#373738, #767699);
    border: 2px solid transparent;
    padding: auto auto;
    animation: border 250ms ease-in-out;
}

.CoolRadioA {
    min-width: auto;
    margin: 10px;
    align-self: center;
    text-align: center;
    flex: 1;
    cursor: pointer;
    font: inherit;
    border-radius: 12px;
    background: linear-gradient(#573738, #a67699);
    border: 2px solid transparent;
    padding: auto auto;
    animation: border 250ms ease-in-out;
}

.CoolRadioA:hover {
    border: 2px solid greenyellow;
}

.CoolRadio:hover {
    background: linear-gradient(#573738, #a67699);
    border: 2px solid orange;
}

.newspaper, .span {
    font-size: medium;
}

.leftside {
    display: inline-block;
    width: 50%;
}

.newspaper {
    display: inline-block;
    width: 45%;
    position: absolute;
    text-align: center;
    left: 55%;
    filter: drop-shadow(4px 4px 4px #22228877);
    margin-right: 0px;
    transform: rotate(0.2deg);
    background: linear-gradient(#a7b7c7, #8787a7);
    border-radius: 4px;
    color: #101013;
    line-height: 1.3em;
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 12px;
}

#kwee1 {
    animation: kwee-anim 8s linear infinite;
    animation-delay: -1.3s;
    margin-left: 16px;
}

.leftside h3 {
    color: #87b6f7;
}

.coolText {
    text-align: center;
    font-weight: 1000;
    color: black;
    animation-name: textCycle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    rotate: -1deg;
}

@keyframes textCycle {
    0% {
        color: #551111;
        rotate: -1deg;
    }
    16% {
        color: #555511;
        rotate: 0deg;
    }
    33% {
        color: #115511;
        rotate: 1deg;
    }
    50% {
        color: #115555;
        rotate: 1deg;
    }
    66% {
        color: #111155;
        rotate: 0deg;
    }
    83% {
        color: #551155;
        rotate: -1deg;
    }
    100% {
        color: #551111;
        rotate: -1deg;
    }
}

.friendList {
    position: absolute;
    margin-top: -62px;
}

.toshow { 
    display:none; 
    position:absolute;
    left: 0%;
    right: 0%;
    align-items: center;
    align-self: center;
    background: linear-gradient(#327777, #58ad9f);
    border-radius:12px;
    text-align: center;
    margin-top: -120px;
    
    border: 2px solid #38b238;
    filter: drop-shadow(4px 4px);
    color: #121236;
    width: fit-content;
    padding: 4px 20px;
    transform:translateX(-30%);
}

.friends {
    background: linear-gradient(#b7efd1, #5787b7);
    margin: 10px 50% 10px auto;
    width: 40%;
    border-radius: 5px;
    border: 2px solid #070721;
    margin-right: 40%;
    max-width: 960px;
    min-width: 200px;
    padding: 10px;
    a {
        position: relative;
    }
    a:hover img {
        position: relative;
        bottom: 0px;
        animation: bounce 0.3s linear infinite;
    }
    a:hover div.toshow { 
        display:block; 
    }
}

@keyframes bounce {
    0% {
        bottom: 0px;
    }
    30% {
        bottom: 2px;
    }
    50% {
        bottom: 3px;
    }
    70% {
        bottom: 2px;
    }
    100% {
        bottom: 0px;
    }
}

h2 {
    margin: auto;
    color: white;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background: -webkit-linear-gradient(#81ffcf, #2861ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#kwee2 {
    animation: kwee-anim 8s linear infinite;
    animation-delay: -1.6s;
    margin-left: 16px;
}

#kwee3 {
    animation: kwee-anim 8s linear infinite;
    animation-delay: -1.9s;
    margin-left: 16px;
}

#kwee4 {
    animation: kwee-anim 8s linear infinite;
    animation-delay: -2.2s;
    margin-left: 16px;
}

#kwee5 {
    animation: kwee-anim 8s linear infinite;
    animation-delay: -2.5s;
}

@keyframes kwee-anim {
    0% {
        transform: translateX(0px) scaleX(1);
    }
    24% {
        transform: translateX(-250px) scaleX(1);
    }
    25% {
        transform: translateX(-250px) scaleX(-1);
    }
    74% {
        transform: translateX(250px) scaleX(-1);
    }
    75% {
        transform: translateX(250px) scaleX(1);
    }
    100% {
        transform: translateX(0px) scaleX(1);
    }
}