.blogdiv {
    width: 100%;
    height: 100%;
    content: "";
    color: #6Db7a6;
    background: #061640;
    border: 4px solid #22ddff22;
    margin: 20px auto;
    max-width: 960px;
    padding: 20px;
    width: 80%;
    
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-filter: drop-shadow( 0px 6px 6px #112246 );
            filter: drop-shadow( 0px 6px 6px #112246 );
}

.blogdiv i {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-filter: drop-shadow( 0px 6px 6px #112246 );
            filter: drop-shadow( 0px 6px 6px #112246 );
}

.sauce {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: lime;
}

#red {
    color: red;
}
#green {
    color: lime;
}
#blue {
    color: cyan;
}
label {
    float: none;
    display: inline;
    text-align: center;
}
.blogdiv img {
    width: 100%;
    height: auto;
}
input {
    margin-left: 48%;
    float: none;
    display: inline;
    text-align: center;
}