a { 
  color: yellow; 
}
h1 h2 {
   font-size: 17pt;
}

h6 {
   font-size: 13pt;
   margin: 0px;
}

.projectPage, img {
   text-align: center;
}

.projectPage, h3 {
   text-align: center;
}

.projectPage, video {
   text-align: center;
}

html {
   font-family: 'Mandali', sans-serif;
   text-align: left;
   color: #eeeeffbb;
   font-size: 15pt;
   font-weight: 200;
   background-color: #000000;
   border: none;
   margin: 0px;
   min-height: 100vh;
   background: linear-gradient(0deg, #0c1020, #102030);
}

table {
   width: 100%;
}

td {
   width: 10%;
}

.projectPage p, .projectPage h1 {
   text-align: left;
   max-width: 1200px;
   margin: 20px auto;
}

.projectPage img {
   max-width: 400px;
   margin: 10px;
}

.projectPage video {
   margin: 10px;
}

.top {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0px 20%;
   width: 60%;
   text-align: center;
   align-items: center;
   position: sticky;
   z-index: 100;
   background-color: #102030;
   top: 0;
   left: 0;
}

.logo {
   display: inline;
   flex: 0 1 600px;
   max-width: 400px;
   margin: 20px;
}

.navbar {
   flex: 1 1 fit-content;
   display: inline;
   vertical-align: bottom;
   text-align: center;
   padding: 20px;
   height: 100%;
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -256px 0px;}
}
@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -256px 0px;}
}
.inner { 
  margin: 20px;
  padding: 20px;
  /* background-color: #00000099; */
}
.imageHoverContainer{
   width: 225px;
   height:125px;
   min-width: 225px;
   min-height:125px;
   justify-content: center;
   align-items: center;
   display: flex;
}
.imageHover{
   background-color: darkslategrey;
   width: 90%;
   height:90%;
   position: relative;
   border: 2px solid grey;
   transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
   filter: drop-shadow(0px 4px 4px darkslategrey);
   cursor: pointer;
   
}
.absoluteWrapper {
   right: 0px;
   position: absolute;
   left: 0px;
   top: 0px;
   bottom: 0px;
   overflow: hidden;
}

.imageHoverImage {
   width: 100%;
   height: 100%;
}

.typewriter {
   overflow: hidden;
   margin: 40px auto;
   white-space: nowrap;
   width: min-content;
   max-width: fit-content;
   border-right: .15em solid white;
   animation: typewriter 4s steps(100), blink-caret 1.35s step-end infinite;
   animation-fill-mode: forwards;
}

@keyframes typewriter {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}

.coolLink {
   /* background: linear-gradient(90deg, rgba(102,0,156,1) 0%, rgba(77,57,180,1) 35%, rgba(49,69,189,1) 62%, rgba(40,75,198,1) 86%); */
   background-color: #602f41ff;
   color: #ccc;
   font-weight: 500;
   font-size: medium;
   font-size-adjust: 0.5;
   padding: 0px 20px;
   margin: auto 20px;
   display: inline-block;
   text-align: center;
   border: none;
   border-radius: 10px;
   text-decoration: none;
   transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.coolLink:hover {
   background-color: #c06fa1ff;
   color: #fff;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.imageHover:hover {
   width: 100%;
   height: 100%;
   z-index: 1;
   filter: drop-shadow(0px 8px 6px darkorange);
}
.imageHoverImageOverlay{
   margin-top: -150px;
   margin-bottom: 150px;
   transition: margin-top 0.2s ease-in-out, margin-bottom 0.2s ease-in-out;
}
.imageHoverImageOverlay:hover{
   margin-top: -50px;
   margin-bottom: 50px;
}
.imageWrapper{
   position: sticky;
   display: flex;
   overflow:visible;
   flex-wrap:nowrap;
   margin: auto;
}

.gradientBox{
   background: linear-gradient(90deg, rgba(2,0,56,1) 0%, rgba(57,57,80,1) 35%, rgba(49,69,89,1) 62%, rgba(40,75,98,1) 86%); 
   margin: 12px;
   padding: 12px;
   border-radius: 28px;
   transition: all 0.2s ease-in-out;
}

.hl {
   color: #c06fa1ff;
}

.timelineEntry {
   vertical-align: middle;
   margin: 10px 15%;
   text-align: left;
   min-width: 720px;
}

.underlinedHeader {
   border: 2px solid #ffffff66;
   max-width: fit-content;
   padding: 0px 20px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   margin-bottom: 12px;
   margin-left:auto;
   margin-right:auto;
}

.tightGradientBox{
   background: rgb(2,0,56);
   background: linear-gradient(90deg, rgba(2,0,56,1) 0%, rgba(57,57,80,1) 35%, rgba(49,69,89,1) 62%, rgba(40,75,98,1) 86%); 
   padding: 6px 0px;
   margin: 12px 28px;
   border-left: 12px;
   border-right: 12px;
   border-radius: 6px;
   overflow: visible;
}

.reflectiveImage{
   box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
   0px 10px 10px rgba(0,0,0,0.1);
}

.redGradientBox {
   width: 90%;
   margin: 20px auto;
   text-align: left;
   background: linear-gradient(270deg, rgba(22,2,47,1) 0%, rgba(47,27,55,1) 35%, rgba(55,39,69,1) 62%, rgba(69,40,78,1) 86%);
}

.test {
   background-image: url("images/0_background_1.png");
}

.staticImage {
   margin: 12px 12px;
   padding: 0px;
   border-radius: 20px;
   max-width: 40%;
   height: auto;
}

.outerBorder {
   width: 90%;
   max-width: 2000px;
   margin: auto;
}

.foldoutCollapsible {
   background-color: transparent;
   border: 4px solid #8686a6;
   color: white;
   cursor: pointer;
   margin-top: 10px;
   padding: 18px;
   width: 100%;
   text-align: left;
   outline: none;
   font-size: 15px;
   border-radius: 20px;
 }

 .speedRound {
   border: 2px solid #8686a6;
   padding: 4px;
   margin: 4px;
   border-radius: 4px;
 }
 
 .foldoutActive, .foldoutCollapsible:hover {
   background-color: #555575;
 }
 .foldoutActive {
   border-radius: 20px 20px 0px 0px;
 }
 
 .foldoutCollapsible:after {
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
 }
 
 .foldoutActive:after {
   content: "\2212";
 }
 
 .foldoutContent {
   text-align: left;
   padding: 0 18px;
   max-height: 0;
   display:block;
   line-break:normal;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   border-radius: 0px 0px 20px 20px;
   background-color: #0d1117;
 }

.dividerH {
   border-left: 1px solid #602f41ff;
   display: inline-flex;
   height:250px;
   justify-self: center;
   margin: auto 20px;
}

.divider {
   border-bottom: 1px solid #602f41ff;
   width: 100%;
   margin: 20px auto;
}

.showOnHover {
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: 4;
   left: 0%;
   top: 0%;
   position: absolute;
   display: flex;
   text-align: center;
   justify-content: center;
   font-weight: bolder;
   color: #ffffff66;

   transition: opacity 0.2s;
}

.showOnHover:hover {
   opacity: 1;
}